{% extends 'base.html' %}
{% block title %} Log In {% endblock %}
{% load static %}

{% block content %}

<style>
    .loginContainer {
        color: #384047;
    }

    .loginContainer form {
        max-width: 300px;
        margin: 20px auto;
        padding: 20px 20px;
        background: #f4f7f8;
        border-radius: 8px;
    }

    .loginContainer a {
        font-weight: 400;
        text-decoration: none;
    }

    .loginContainer h1 {
        margin: 10px 0 30px 0;
        text-align: center;
    }

    .loginContainer input[type="password"],
    .loginContainer input[type="email"] {
        background: rgba(255, 255, 255, 0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #e8eeef;
        color: #606970;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        /* margin-bottom: 30px; */
    }

    .loginContainer button {
        padding: 19px 39px 18px 39px;
        color: #FFF;
        background-color: #4bc970;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #3ac162;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .loginContainer fieldset {
        margin-bottom: 30px;
        border: none;
    }

    .loginContainer label {
        display: block;
        margin-bottom: 8px;
    }

    @media screen and (min-width: 480px) {
        .loginContainer form {
            max-width: 480px;
        }
    }
</style>

    <div class="loginContainer">

        <form action="" method="post">
            
            {% csrf_token %}

            <h1>Login</h1>

            <!-- {% if messages %}
            {% for message in messages %}
            <div id="alert-message">
                <div class="alert alert-{{message.tags}} alert-dismissible text-center" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endif %} -->

            {% for field in login_form %}

            <label>{{field.label_tag}}</label>
            {{field}}

            {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
            {% endfor %}

            {% if login_form.non_field_errors %}
            <div style="color: red;">
                <p>{{login_form.non_field_errors}}</p>
            </div>
            {% endif %}

            <br><br>

            {% endfor %}

            <p style="margin-bottom: 1.5rem;">
                Do not have an account? <a href="{% url 'signup' %}">Sign Up</a>
            </p>

            <button type="submit">Log In</button>
        </form>

    </div>

{% endblock %}